<link rel="stylesheet" href="index.component.css">
<div class="wrapper">
  <div class="first-side side">
    <div class = "display-4 bg-primary">Informacije o studentu</div>
    <div class="profile-img"></div>
<!--    <img class="profile-img" src="assets/img/course-1.jpg" alt="">-->
    <div class="student-info">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <h2>Aleksandar Gitarić</h2></li>
        <li class="list-group-item"><h3>Broj indeksa: 33/17</h3></li>
        <li class="list-group-item">Status indeksa: <span class = "overen">Overen</span></li>

        <li class="list-group-item">ESPB: 164/240</li>
        <li class="list-group-item">Datum rodjenja: 30.11.1997.</li>
        <li class="list-group-item">Mesto rodjenja: Podgorica</li>
        <li class="list-group-item">Opstina rodjenja: Podgorica</li>
        <li class="list-group-item">Drzava rodjenja: Crna Gora</li>
        <li class="list-group-item">Drzavljanstvo: Srpsko</li>
        <li class="list-group-item">Godina upisa: 2017.</li>
        <li class="list-group-item">Smer: IT</li>
        <li class="list-group-item">Vrsta studija: Osnovne akadamske studije</li>
        <li class="list-group-item">Trenutna godina studija: 3</li>
      </ul>

    </div>

  </div>
  <div class="second-side side">
    <div class="index-info">

      <div class = "display-4 bg-primary">Kursevi i Ocene</div>

      <div class="passed-courses">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Uvod u programiranje</h4><hr>
              <h6 class="card-subtitle mb-2 text-muted">Milos Radovanovic</h6>
              <p class="card-text">
                EPSB: 5<br>
                Vrsta: Obavezan<br>
                Bodovi: 91/100<br>
                <span class = "display-4">10</span>
              </p>
            </div>
          </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Strukture podataka i algoritmi 1</h4><hr>
            <h6 class="card-subtitle mb-2 text-muted">Milos Savic</h6>
            <p class="card-text">
              ESPB: 7 <br>
              Vrsta: Obavezan <br>
              Bodovi: 75/100<br>
              <span class = "display-4">8</span>
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Strukture podataka i algoritmi 2</h4><hr>
            <h6 class="card-subtitle mb-2 text-muted">Milos Savic</h6>
            <p class="card-text">
              EPSB: 7<br>
              Vrsta: Obavezan<br>
              Bodovi: 81/100<br>
              <span class = "display-4">9</span>
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
