.login-wrapper{
  width: 100%;
  height: 100vh;
  background: url('src/assets/img/back3.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px;
}

.profile-img-card{
  max-width:100%;
  max-height:100%;
}

.form-group{
  min-width:30%;
}

.card-container{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  alignment-baseline: center;
  text-align: center;

  -moz-box-shadow:    inset 0 0 10px 	#DCDCDC;
  -webkit-box-shadow: inset 0 0 10px 	#DCDCDC;
  box-shadow:         inset 0 0 10px 	#DCDCDC;
}

.login-button{
  margin-bottom: 50px;
}
