<div class="col-md-12 login-wrapper">

  <div class="card card-container">
    <img
      id="profile-img"
      src="/assets/img/login-image.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Korisničko ime</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          [(ngModel)]="form.username"
          required
          #username="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && username.invalid"
        >
          Korisničko ime je obavezno!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Lozinka</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
        >
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Šifra mora biti dugačka bar 6 karaktera!
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block login-button">
          Potvrdi
        </button>
      </div>
      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Neuspešna prijava!  {{ errorMessage }}
        </div>
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isLoggedIn">
      Ulogovali ste se kao korisnik {{ userName }}!
    </div>
  </div>
</div>
